.container {
  display: inline;
}

.cursor {
  display: inline-block;
  animation: blink 1.05s step-end infinite;
  margin-left: 2px;
  font-weight: 300;
  -webkit-text-fill-color: var(--brand);
  color: var(--brand);
  opacity: 1;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}